Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = "harsh jalan"  # string variable
b = [range(55,15,-3)]   # list variable
c = 8.48   # float varible
d = (4,8,78,65,45)

print(a)
print(b)
print(c)
print(d)

harsh jalan
[range(55, 15, -3)]
8.48
(4, 8, 78, 65, 45)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [2]:
var1 = ""
var2 = "[ DS , ML , Python]"
var3 = [ 'D' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
# 1. use of "/" operator = this is one kind of arthematic operator, this is divide operator
#2. "%" = modulo operator, it's produce remainder of an integer divison
#3. "//" = this is floor division variable
#4. "**" = this is an expoenent variable
a = 58
b = 8
print(a/b)
print(a%b)
print(a//b)
print(a**b)

7.25
2
7
128063081718016

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [4]:
l = [4,52.2,"harsh",True,[4,5,8],(77,89,56),{4:4000,5:5000,6:6000},{1,4,7,8},"",587]

for item in l:
    print(type(item))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'str'>
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [5]:
a = int(input("first no"))
b = int(input("second number"))
i = 0

while a%b ==0:
    a = a/b
    i = i+1
else:
    if i==0:
        print("a is not purely divisble by b")
    else:
        print(f"a is {i} times purely divisble by b")

first no 488
second number 2

a is 3 times purely divisble by b

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [6]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if (i)%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

A data type that allows you to change its values without changing its identity is a mutable object. The changes that you can perform on a mutable object's value are known as mutations. In contrast, a data type that doesn't allow changes in its value is an immutable data type.
example of mutable data type: list,dict,set etc and immutable data type are int,str,tupple,float,bool etc.