Q1. What is a database? Differentiate between SQL and NoSQL databases.<br>
Ans. A database is an organized collection of structured or unstructured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).<br>
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON. SQL databases are best suited for complex queries.<hr>

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.<br>
Ans. Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System), DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.<br>
Create tabe table_name(id int(200),name varchar(500), address varchar(500));<br>
drop table table_name;<br>
alter table table_name add co_name varchar(50);<br>
Truncate table table_name;<hr>

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.<br>
Ans. Data Manipulation Language(DML) is a class of SQL statements that are used to query, edit, add and delete row-level data from database tables.<br>
Insert into table_name(col1,col2,col3) values (d1,d2,d3),(d4,d5,d6);<br>
Update table_name set col_name = val where id = 5;<br>
Delete from table_name where id = 5 and id = 6;<hr>

Q4. What is DQL? Explain SELECT with an example.<br>
Ans. Data Query Language(DQL)is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract data from a database in order to perform actions on it.<br>
SELECT * from table_name where salary>50000;<hr>

Q5. Explain Primary Key and Foreign Key.<br>
Ans. The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. The primary key column can't store duplicate values. A table can contain only one primary key.<br>
The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. It is also known as the referencing key that establishes a relationship between two different tables in a database. A foreign key always matches the primary key column in another table. It means a foreign key column in one table refers to the primary key column of another table. <hr>

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.<br>

In [6]:
# pip install mysql-connector-python

import mysql.connector as my

mydb = my.connect(host="localhost",user="root",password=None)
csr = mydb.cursor()

Q7. Give the order of execution of SQL clauses in an SQL query.<br>
Ans. Order of execution of SQL clauses in an SQL query: From -->> Join-->> where--->> Having--->>Select--->> Distinict--->> order by--->> limit

In [ ]:
w